<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About | Kent Blake Realty</title>
</head>
<body>
	<h1>Kent Blake</h1>
	<p>
		This is the About page for Kent Blake Realty
	</p>
</body>
</html>